@import './index.scss';

/* Viewport width below 576px
------------------------------- */
@media screen and (max-width: $xs) {
	.el-form-item__label {
		width: 100% !important;
		text-align: left !important;
		// Fix right-aligned labels on mobile
		justify-content: flex-start !important;
	}
	.el-form-item__content {
		margin-left: 0 !important;
	}
	.el-form-item {
		// The login page needs custom handling in responsive form layouts
		display: unset !important;
	}
	// Form filters in the table demo
	.table-form-btn {
		display: flex !important;
		.el-form-item__label {
			width: auto !important;
		}
	}
	// Maximum height for table-demo filters on mobile
	.table-search-container {
		max-height: 160px;
		overflow: auto;
	}
}
