@import './index.scss';

/* Viewport width below 576px
------------------------------- */
@media screen and (max-width: $xs) {
	// MessageBox dialogs
	.el-message-box {
		width: 80% !important;
	}
	// Lock-screen page
	.layout-lock-screen-date-top {
		display: none;
	}
}

/* Viewport width below 768px
------------------------------- */
@media screen and (max-width: $sm) {
	// Breadcrumb
	.layout-navbars-breadcrumb-hide {
		display: none;
	}
	// External-link view
	.layout-view-link {
		a {
			max-width: 80%;
			text-align: center;
		}
	}
	// Menu search
	.layout-search-dialog {
		.el-autocomplete {
			width: 80% !important;
		}
	}
}

/* Viewport width below 1000px
------------------------------- */
@media screen and (max-width: 1000px) {
	// Layout settings
	.layout-drawer-content-flex {
		position: relative;
		&::after {
			content: '手机版不支持切换布局';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			text-align: center;
			height: 140px;
			line-height: 140px;
			background: rgba(255, 255, 255, 0.9);
			color: #666666;
		}
	}
	// Toolbar inside pagination
	.table-footer-tool {
		display: none !important;
	}
}
